*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.agente__imagen{
    background-color: gray;
}
h2{
    margin: 1rem 0;
}
button{
    margin: .7rem 0;
    height: 2rem;
    width: 12rem;
}
.agente{
    border: solid 1px gray;
    display: flex;
    width: 600px;
}
.agente__nombre-contenedor{
    border: solid 1px gray;
}
#personajes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.agente__boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}